<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            border-radius: 100%;
        }
    </style>
</head>

<body>
    <img alt="Performance Farmalisto Colombia " data-align="left" data-caption="Performance Farmalisto Colombia" data-entity-type="file" data-entity-uuid="8fd9fca2-5442-41cf-8158-1f3e8d8a1719" height="103" src="../pictures/creepy-dark-fear-grave-534590.jpg"
        width="103" />
</body>

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>



</html>