<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>
        <iframe src="http://192.168.10.192:3000/embed/question/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJhbXMiOnt9LCJyZXNvdXJjZSI6eyJxdWVzdGlvbiI6MTczfX0.qIsMCP8V5bJ6tv_EWywIbO-GmBrsJ7BLF4K9LY_-ILs#bordered=true&titled=true" frameborder="0" width="50%" height=800
            allowtransparency>

        </iframe>
    </p>
    <section><iframe src="http://192.168.10.192:3000/public/question/ed6e5c50-b61f-492a-964d-a88539f2433e" frameborder="0" width="800" height="600" allowtransparency></iframe></section>

    <p>
        <iframe src="http://192.168.10.192:3000/public/dashboard/b6af64f5-1f2c-44f2-a131-a93b014f5743" frameborder="0" width="100%" height="600" allowtransparency></iframe>
    </p>

    <p>
        <iframe src="http://192.168.10.192:3000/embed/question/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJhbXMiOnt9LCJyZXNvdXJjZSI6eyJxdWVzdGlvbiI6MTc0fX0.990hO073uXSXmmE8DLAh2g8aIkiBh2h9IoRAsHipL14#bordered=true&titled=true" frameborder="0" width="50%" height=1200
            allowtransparency>

        </iframe>
    </p>
</body>

</html>