<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"><!-- ALT+SHIT+A  agregar comenatrios-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>

<body>

    <h1>Welcome to BIT</h1>
    <h2>Hello!!!!</h2>
    <h3>We going to programing</h3>

    <img src="../pictures/creepy-dark-fear-grave-534590.jpg" alt="Imagen de prueba" width="300px" height="300px">

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, blanditiis.
        <!-- alt+z para organizar los parrafos -->
    </p>

    <p> 妹妹背著洋娃娃
        妹妹背著洋娃娃
        走到花園來看花
        娃娃哭了叫媽媽
        树上小鸟笑哈哈
        <br>

        Hermanita lleva su muñeca extranjera*
        Al jardín para mirar las flores
        La muñeca llora preguntando por su madre
        Un pájaro en un árbol está riendo.</p>

    <iframe width="460" height="215" src="https://www.youtube.com/embed/hfmVpn8iK-k" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>

</html>