.cabecera {
    background-color: #3a9b37;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    height: 50px;
}

#subtittle {
    color: #3a9b37;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 30px
}

.flags {
    margin-bottom: 50px;
}

footer {
    position: relative;
    background: #3a9b37;
    height: 60px;
    color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

footer .copyright {
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
}

img {
    height: 70px;
    align-items: center;
}

.space {
    padding-top: 70px;
    min-height: calc(83vh - 60px - 50px);
}

.logo {
    height: 60%;
    width: 60%;
    align-items: center;
    margin-bottom: 15px;
}

.boton {
    display: flex;
}

#ubicacion {
    padding-top: 0;
    padding-bottom: 0%;
    position: relative;
}

#ubicacion iframe {
    position: relative;
    left: 0;
    padding-top: 20px;
}

.section {
    min-height: 100%;
    position: relative;
    padding-bottom: 81px;
}

.img-fluid {
    max-width: 95%;
    height: auto;
}

#home {
    float: right;
}