<!DOCTYPE html>
<html lang="es">

<head>
    <title>Farmalisto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <div class="cabecera text-center">
        <h1>FARMALISTO</h1>
    </div>

    <a href="../index.html"><button class="btn btn-success">Atras</button></a>

    <div class="container text-center">
        <img class="logo" src="../image/web_Logo_farmalisto_Col.png" alt="Logo Farmalisto ">
        <div class="container row">
            <div class="col-sm-4">
                <a href="#"><img class="img-fluid" src="../image/web_Funnel.png" alt="Logo Farmalisto "></a>
            </div>
            <div class=" col-sm-4">
                <a href="#"><img class="img-fluid" src="../image/web_icono_first_byte_tiempo_carga.png" alt="Logo Farmalisto "></a>
            </div>
            <div class="col-sm-4">
                <a href="#"><img class="img-fluid" src="../image/web_icono_performance.png" alt="Logo Farmalisto "></a>
            </div>
        </div>
    </div>

    <footer>
        <p class="copyright">Copyright ® Farmalisto</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>