<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Funnel</title>
<link rel="stylesheet" href="../css/styles.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet" type='text/css'>
</head>
<body>

	<div class="tittle">
		<h1>Funnel de Coversión Proyectos Farmalatam <img style="float: right; margin: 0px 15px 15px 0px;" id="logo" src="../images/farma_co.png" width="126"></h1>
	</div>

	<div class="parraf">
		<p>Por favor selecciona el proyecto del cual se requiere ingresar
			los datos</p><br>
	</div>

	<div class="form">
		<form action="../controller/registro.php" method="GET">
			
			<button class="btn" type="submit" name="shop" value="farma_co">
				<img src="../images/farma_co.png" alt="farma_co" />
			</button>
			<button class="btn" type="submit" name="shop" value="farma_mx">
				<img src="../images/farma_mx.png" alt="farma_mx" />
			</button>
			<button class="btn" type="submit" name="shop" value="cafam">
				<img src="../images/cafam.png" alt="cafam" />
			</button>
			<button class="btn" class="btn" type="submit" name="shop" value="abbott">
				<img src="../images/abbott.png" alt="abbott" />
			</button>
			<button class="btn" type="submit" name="shop" value="care_co">
				<img src="../images/care24.png" alt="care_co" />
			</button>
			
		</form>
	</div>
	

</body>
</html>
