<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Funnel</title>
<link rel="stylesheet" href="../css/styles.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	rel="stylesheet" type='text/css'>
</head>
<body>

	<div class="tittle">
		<h1>Funnel de Coversión Proyectos Farmalatam</h1>
	</div>

	<div class="parraf">
		<p>Por favor selecciona el proyecto del cual se requiere ingresar
			los datos</p>
	</div>

	<div class="form">
		<form action="#" method="post">
			
			<button class="btn" type="submit">
				<img src="../images/farma_co.png" alt="" />
			</button>
			<button class="btn" type="submit">
				<img src="../images/farma_mx.png" alt="" />
			</button>
			<button class="btn" type="submit">
				<img src="../images/cafam.png" alt="" />
			</button>
			<button class="btn" class="btn" type="submit">
				<img src="../images/abbott.png" alt="" />
			</button>
			<button class="btn" type="submit">
				<img src="../images/care24.png" alt="" />
			</button>
			
		</form>
	</div>




</body>
</html>

<!-- <input id="name" type="text" class="form-control" name="name" placeholder="Nombre" value="<?php if (! $sent && isset($name)) echo $name ?>"/>
 -->